[submodule "media"]
	path = media
	url = https://github.com/LhacenMed/media.git
	branch = ffmpeg-module-gate

[submodule "musikr/src/main/cpp/taglib"]
	path = musikr/src/main/cpp/taglib
	url = https://github.com/LhacenMed/taglib.git
	branch = auxio-vendor
